############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

############################
# Virtual Environment
############################
.venv/
venv/
env/

############################
# Jupyter / IDE
############################
.ipynb_checkpoints/
.vscode/
.idea/

############################
# Data (KHÔNG push data)
############################
data/raw/
data/processed/
*.csv

############################
# Models (KHÔNG push model)
############################
models/
*.pkl
*.joblib
*.h5
*.pt
*.pth

############################
# Reports / Outputs
############################
reports/
*.png
*.jpg
*.pdf

############################
# OS
############################
.DS_Store
Thumbs.db
